@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Seaweed+Script&display=swap');

.cabecera {
    align-items: center;
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (min-width: 0) {
    .cabecera {
        justify-content: center;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .cabecera {
        justify-content: space-between;
        padding: 0 5rem;
    }
}
