.recetas {
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);    display: flex;
    flex-wrap: wrap;
    position: relative;
}

@media screen and (min-width: 0) {
    .recetas {
        padding: 2rem 0 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .recetas {
        padding: 5rem;
    }
}

@media screen and (min-width: 922px) {
    .recetas {
        padding: 5rem 0 0 5rem;
    }
}
