.banner__titulo {
    color: #da1111;
    font-family: 'Seaweed Script', cursive;
    left: 50%;
    position: absolute;
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__titulo {
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: 8rem;
    }
}
