.receta__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
}

@media screen and (min-width: 0) {
    .receta__contenido {
        padding: 3.05rem;
    }
}