.receta__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 0) {
    .receta__contenido {
        padding: 2.2rem;
    }
}

@media screen and (min-width: 922px) {
    .receta__contenido {
        padding: 6.3rem;
    }
}