.receta {
    display: flex;
    flex-direction: column;
    perspective: 1000px;
    position: relative;
}

.receta__card {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
    height: 100%;
    transform-style: preserve-3d;
    transition: all .8s linear;
    width: 100%;
}

.receta__card:hover {
    border-radius: 10px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, .3);
    transform: rotateY(180deg);
}

.receta__frente {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.receta__atras {
    backface-visibility: hidden;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    height: 100%;
    transform: rotateY(180deg);
    padding: 10px;
    opacity: .7;
}

@media screen and (min-width: 0) {
    .receta {
        height: 300px;
        margin-right: 2rem;
        margin-bottom: 3rem;
        width: 342px;
    }
}

@media screen and (min-width: 768px) {
    .receta {
        margin-bottom: 3rem;
        margin-right: 2rem;
    }
}

@media screen and (min-width: 922px) {
    .receta {
        height: 400px;
        margin-right: 5rem;
        width: 550px;
    }
}
