@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.menu__link {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.menu__link.activo {
    color: #474545;
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}
